.DS_Store

Qt/build-*-Debug/*
Qt/build-*-Release/*
*.o
*.user
ui_*.h
moc_*

.makefile.swp

*.o
*.out
*.i64

*.sublime-project
*.sublime-workspace

CPP/*.dSYM/*

go/src/github.com/
go/src/golang.org/
go/src/sourcegraph.com/
go/src/gx
go/pkg
go/bin/

.vscode/

electron/electron-quick-start/

Kotlin/*.jar
Kotlin/*/*.jar

AppleScript/*.scpt
Spring/readinglist/.mvn/wrapper/maven-wrapper.properties
Spring/readinglist/mvnw
Spring/readinglist/.mvn/wrapper/maven-wrapper.jar
Spring/readinglist/.mvn/wrapper/MavenWrapperDownloader.java
Spring/readinglist/mvnw.cmd

node_modules/