.DS_Store

Qt/build-*-Debug/*
Qt/build-*-Release/*
*.o
*.user
ui_*.h
moc_*

.makefile.swp

*.o
*.out

*.sublime-project
*.sublime-workspace

CPP/*.dSYM/*

go/src/github.com/
go/src/golang.org/
go/src/sourcegraph.com/
go/pkg
go/bin/

.vscode/

electron/electron-quick-start/

Kotlin/*.jar
Kotlin/*/*.jar